name: Website Monitor

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  check-website:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Monitor Script
        env:
          TARGET_URL: ${{ secrets.TARGET_URL }}
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          EMAIL_TO: ${{ secrets.EMAIL_TO }}
          MUNI_UCO: ${{ secrets.MUNI_UCO }}
          MUNI_HESLO: ${{ secrets.MUNI_HESLO }}
        run: python monitor.py

      # --- TOTO JE NOVÉ ---
      # Tento krok nahrá screenshot, aby si si ho mohol pozrieť
      - name: Upload Debug Screenshot
        if: always() # Spustí sa aj keď skript spadne
        uses: actions/upload-artifact@v4
        with:
          name: debug-screenshot
          path: *.png

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          if [[ -n $(git status -s last_status.txt) ]]; then
            git add last_status.txt
            git commit -m "Update status [skip ci]"
            git push
          else
            echo "No changes to commit."
          fi
